streamlit==1.51.0
langchain==0.0.35
langchain-community==0.0.30
langchain-core==0.0.35
langchain-text-splitters==0.0.1
langchain-google-genai==0.2.0
google-generativeai==0.8.5
chromadb==0.5.5
python-dotenv==1.0.1
pypdf==5.0.0
unstructured==0.16.0
pillow
pydantic
pymupdf
